a { 
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
}
#logo {
    /*background: url(imagens/logo.png);
    background-size: cover;*/
    width: 100px;
    height: 1px;
}
#principal {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}
.nav-link:hover {
    color: #929292;
}
#menu ul {
    list-style: none;
    text-align: right;
    padding-right: 70px;
}
#menu ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#corpo {
    width: 100%;
    height: 100vh;
    background-color: #fcfbbd;
    clear: both;
}
#A , #B {
    width: 800px;
    height: 600px;
    position: absolute;
    /*border: dotted blue 2px;*/
    background-color: gray;
    top: 300px;
}
#A {
    left: 136px;
    background-color: #bdae5a;
    color: whitesmoke;
    padding: 50px;
}
#B {
    right: 136px;
    background: url(imagens/imgBuque.jpg);
    background-size: cover;
}
.fundo {
    display: inline-block;
    padding: 10px;
}
#C , #D {
    position: absolute;
}
#C {
    width: 600px;
    height: 140px;
    /*background-color: gray;*/
    z-index: 1;
    top: 200px;
    left: 136px;
    color: #222222;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman';
    text-align: center;
}
#D {
    width: 200px;
    height: 50px;
    /*background-color: gray;*/
    background: url(imagens/decor3.PNG);
    background-size: cover;
    z-index: 1;
    top: 268px;
    right: 180px;
}
.textinho {
    font-size: 17px;
}