a { 
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
}
#logo {
    /*background: url(imagens/logo.png);
    background-size: cover;*/
    width: 100px;
    height: 1px;
}
#principal {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}
.nav-link:hover {
    color: #929292;
}
#menu ul {
    list-style: none;
    text-align: right;
    padding-right: 70px;
}
#menu ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#corpo {
    width: 100%;
    height: 100vh;
    background-color: #fcfbbd;
    clear: both;
}
.caixinha {
    position: absolute; 
}
#A {
    width: 430px;
    height: 320px;
    /*border: dotted blue 2px;*/
    /*background-color: gray;*/
    top: 160px;
    left: 450px;
    z-index: 2;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 68px;
}
#AA {
    width: 380px;
    height: 50px;
    /*border: dotted blue 2px;*/
    background-color: #FFE681;
    top: 420px;
    left: 450px;
    z-index: 1;
}
#B {
    width: 280px;
    height: 245px;
    background: url(imagens/decor1.PNG);
    background-size: cover;
    bottom: 100px;
    left: 0;
}
#C {
    width: 1080px;
    height: 800px;
    /*border: dotted blue 2px;*/
    background: url(imagens/sunflower.png);
    background-size: cover;
    top: 110px;
    right: 0;
}
#D {
    width: 570px;
    height: 380px;
    /*border: dotted blue 2px;*/
    background-color: rgb(34, 34, 34);
    bottom: 0;
    left: 550px;
    color: whitesmoke;
    padding: 27px;
}