a { 
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
}
#logo {
    /*background: url(imagens/logo.png);
    background-size: cover;*/
    width: 100px;
    height: 1px;
}
#principal {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}
.nav-link:hover {
    color: #929292;
}
#menu ul {
    list-style: none;
    text-align: right;
    padding-right: 70px;
}
#menu ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#corpo {
    width: 100%;
    height: 100vh;
    background-color: #fcfbbd;
    clear: both;
}
.caixinha {
    position: absolute;
}
#A {
    width: 480px;
    height: 400px;
    /*border: dotted blue 2px;*/
    /*background-color: gray;*/
    bottom: 310px;
    left: 180px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman';
}
#B {
    width: 280px;
    height: 280px;
    /*border: dotted blue 2px;
    background-color: rgb(224, 142, 142);*/
    background: url("imagens/imagem15.jpg");
    background-size: cover;
    bottom: 160px;
    left: 215px;
}
#C {
    width: 350px;
    height: 670px;
    /*border: dotted blue 2px;*/
    background-color: rgb(34, 34, 34);
    z-index: 1;
    bottom: 30px;
    left: 730px;
    color: whitesmoke;
}
#D {
    width: 350px;
    height: 670px;
    /*border: dotted blue 2px;*/
    background-color: rgb(28, 28, 28);
    z-index: 2;
    bottom: 120px;
    right: 500px;
    color: whitesmoke;
}
#E {
    width: 350px;
    height: 670px;
    /*border: dotted blue 2px;*/
    background-color: rgb(34, 34, 34);
    z-index: 1;
    bottom: 30px;
    right: 180px;
    color: whitesmoke;
}
.titulo {
    font-size: 34px;
    font-weight: bold;
}
